<h1>Edit the picture below: </h1>


<%= form_for @picture do |f| %>

    <p>
        <%= f.label "Name" %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label "Year" %>
        <%= f.text_field :year %>

    </p>
    <p>
        <%= f.label "Artist" %>
        <%= f.text_field :artist %>
    </p>
    <p>
        <%= f.label "URL" %>
        <%= f.text_field :url %>
    </p>
    <p>
        <%= f.submit "Update" %>
    </p>

<% end %>