<h1>Photos</h1>
<%= link_to "New picture", pictures_new_url %>

<% @pictures.each do |picture| %>

    <h2><%= picture[:name] %>, <%= picture[:year] %></h2>
    <h2>by <%= picture[:artist] %></h2>
    <%= link_to image_tag(picture[:url]), picture_url(picture[:id]) %>

<% end %>