<h1>Add a picture</h1>
<%= form_for @picture do |f| %>

    <p> 
        <%= f.label "Name" %> <br>
        <%= f.text_field :name %> 

    </p>

    <p>
        <%= f.label "Year" %> <br>
        <%= f.text_field :year %>
    </p>

    <p>
        <%= f.label "Artist" %> <br>
        <%= f.text_field :artist %>
    </p>

    <p>
        <%= f.label "URL" %> <br>
        <%= f.text_field :url %>
    </p>

    <p>
        <%= f.submit "Save" %>
    </p>

<% end %>